# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.libs/
Makefile
cjpeg
config.log
config.status
djpeg
jpegtran
libtool
rdjpgcom
wrjpgcom
